<div class="content">
  <% if (@posts.count > 0) %>
    <% @posts.each do |post| %>
      <h3><%= link_to post.title, controller: "posts", action: "show", id: post._id%></h3>

      Submitted by: <em><a href = "<%= user_path(post.user_id) %>"><%= get_username(post.user_id) %></a></em>

      <p>
      <%= sanitize(post.body, :tags=>[]).truncate(100, :separator => " ").html_safe %>
      </p>
  <% end %>
  <% end %>
</div>