<%= stylesheet_link_tag "users_show.css" %>
<h1>Users</h1>
<div class="row">
<% @users.each do |user| %>
<div class="card col-md-4">
  <div class="container">
    <h4><b><%= user.name %></b></h4>
    <% if (current_user) %>
      <button type="button" class="btn btn-success"><%= link_to 'Show', user, class: "a_tags" %></button>
    <% end %>
    <button type="button" class="btn btn-warning"><%= link_to 'View Posts', user_posts_path(user.id), class: "a_tags" %></button>
  </div>

</div>
<% end %>
</div>
<br><br><br>
<% if (!current_user) %>
  <p>Please signin/signup to view the profiles as well</p>
<% end %>

