/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 15px;
  background: #f2f5f8;
  font-weight: 300;

}
a {
  text-decoration: none;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit
}

table > tr {
    vertical-align: middle;
}

col {
    display: table-column
}

colgroup {
    display: table-column-group
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit
}

td, th {
    display: table-cell;
    vertical-align: inherit
}

th {
    font-weight: bold
}

caption {
    display: table-caption;
    text-align: -webkit-center
}

.post_title {
    font-weight: bold;
    font-variant: normal;
    font-size: 26px;
    text-align: center;
}

.post_body {
    font-weight: normal;
    font-variant: normal;
    font-size: 20px;
    text-align: justify;
    padding: 4em;
}

.post_owner {
    float: right;
    font-size: 15px;
    padding: 4em;
}

.account_header {
    float: right;
    padding-right: 1em;
    font-size: large;
    font-family: inherit;
    margin-right: 10px;
    margin-top: 10px;
}
.home_header {
    padding-left: 1em;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    font-size: larger;
    font-family: inherit;
}

#inline {
    display: inline-block;
}

.content {
    padding: 2em;
}

#hidden_field_user_id {
    display: none;
}

.header_group {
    background-color: gray;
}
.header_a_tag {
    text-decoration: none;
}