<!DOCTYPE html>
<html>
	<head>
		<title>Blog Spot</title>
		<%= stylesheet_link_tag    "application.css.scss", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="content">
			<%= yield %>
		</div>
	</body>
</html>
